body {padding: 8px 16px; font-family: system-ui;}
#page {max-width:80vw;margin: auto;}
h3 {background-color: #555555;color: white;padding:8px;}
canvas {display:block;}
p.time_offset_section>label {display: inline-block;min-width: 70px;}
p.time_offset_section>input {display: inline-block;width: 50px;}
button {padding: 8px; border: 1px solid gray; border-radius: 2px; margin-right: 5px;}
button:hover {background-color: lightgray;}
table {border-collapse: collapse;}
td,th {padding: 0px 5px;}
th {background: gray; text-align: left;}
td {border-bottom: 1px solid lightgray;}
td>div {text-align: center;}

#tabs {height:30px;display:flex;}
.tab {cursor:pointer; display:inline; border: 1px solid gray; border-radius: 5px 5px 0px 0px; padding:4px 16px; background-color: lightgray}
.tab.active { background-color:white; border-bottom:0px;cursor:default; }
.tab>h4 {display:inline; margin:0; }
.tab-fill {width:100%; border-bottom: 1px solid gray}
.telemetry-item {display:inline-block; padding:0px 20px; font-weight:800;font-size:larger}
#telemetry-tab-content {padding:20px 0px; text-align:center}
.fa-tachometer-alt {color:mediumvioletred}
.fa-temperature-high {color:green}

#clockContainer {
    position: relative;
    margin: auto;
    height: 20vw;
    /*to make the height and width responsive*/
    width: 20vw;
    background: url(clock.jpg) no-repeat;
    /*setting our background image*/
    background-size: 100%;
}
  
#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
  
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}
  
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
  
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}